.payment-options {
    display: flex;
    justify-content: space-between; /* Space buttons horizontally */
    align-items: center; /* Align buttons vertically */
    margin-top: 10px; /* Top margin */
  margin-bottom: 30px; /* Bottom margin */
  margin-left: 15px; /* Left margin */
  margin-right: 25px; /* Right margin */
  }
  

  p.invoice-title {
    font-size: 54px; /* Adjust as needed */
    font-weight: bold;
  }


  p.invoice-title {
    border-bottom: 2px solid fuchsia; /* Adjust color and style */
    padding-bottom: 0px; /* Add padding for spacing */
  }

p.invoice-title {
  font-family: 'Arial', sans-serif; /* Example font */
}

p.invoice-title {
  background-color: #d1f5ff; /* Light gray background */
  color: #ff00ae; /* Darker text color */
}

p.invoice-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text shadow */
}


button {
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 8px;
  border-style: solid;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: #4a90e2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}



.custom-dialog-container .mat-dialog-container {
  background-color: pink; /* Fondo rosado */
  color: black;           /* Color de texto */
  border-radius: 8px;     /* Borde redondeado, opcional */
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Espacio entre los componentes */
}

app-customer-selector,
app-show-customer {
  flex: 1; /* O ajusta los valores según el espacio que quieras que ocupen */
}

.factura-rect {
  flex: 0 0 25%; /* Ocupa el 25% del ancho, dejando algo de margen */
  width: auto;
  height: 80px;
  border-radius: 15px;
  background-color: #f0f8ff;
  border: 2px solid #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* archivo.css */
.invoice-page {
  background-color: black;
  color: white; /* Color blanco para el texto */
}