

<!-- <div class="invoice-page">
    <button (click)="openModal()">Seleccionar Cliente</button>
</div> -->
  


<div style="display: flex; justify-content: space-between; align-items: flex-start;">
    <!-- Primer componente -->
    <div style="background-color: #1E1E2D; padding: 4px; border-radius: 10px; text-align: center; margin-bottom: 10px; width: 48%;">
      <p style="color: #ff00ea; font-size: 24px; font-weight: bold; margin: 0; letter-spacing: 1px;">
          Factura de Venta
      </p>
      <p style="color: #A3A3A3; font-size: 26px; margin: 5px 0 0;">
          # {{factNumber}}
      </p>
    </div>
  
    <!-- Segundo componente -->
    <div style="width: 48%;">
      <app-show-customer *ngIf="isActiveCustomer === 0" [customer]="customer" (onActiveCustomer)="onSetActiveCustomer($event)"></app-show-customer>
      <app-customer-selector *ngIf="isActiveCustomer !== 0" (onSelectCustomer)="onSetCustomer($event)" (onActiveCustomer)="onSetActiveCustomer($event)"></app-customer-selector>
    </div>
  </div>

   
   
  



  

<div class="row">
    <div class="col-md-12">

    
   
    
    <div class="row">
      <div class="col-md-6">
        <app-list-products  [listLineSellProduct]="listLineSellProducts" ></app-list-products>
        <app-total-invoice [listLineSellProduct]="listLineSellProducts"></app-total-invoice>

        <br>

        <input type="text" [(ngModel)]="numeroFactura" placeholder="Ingrese número de factura" class="form-control form-control-lg mb-2">

        <div class="payment-options">
          <button class="btn btn-primary payment-options " (click)="guardar()">Guardar</button>
          <button class="btn btn-primary payment-options" (click)="generatePDF()">PDF</button>
          <button class="btn btn-primary payment-options" (click)="print()">Imprimir</button>
          
          <button class="btn btn-danger payment-options" (click)="cancelar()">Cancelar</button>
     
          

          
          
        </div>
  
      </div>
    
      <div class="col-md-3">
        <app-set-up-product [lineSellProduct]="lineSellProduct" (onNewProduct)="onNewLineSellProduct($event)">
        </app-set-up-product>
      </div>
    
      <div class="col-md-3">
        <app-select-product (onSelectProduct)="onSetProduct($event)">
        </app-select-product>
      </div>
    </div>

    
</div>



   
<!-- </div> -->



<br>
<br>
