/* .bg-dark {
  background-color: #111;
}

.text-fuchsia {
  color: #e91e63;
}

.border-fuchsia {
  border-color: #e91e63 !important;
}

.btn-outline-fuchsia {
  border-color: #e91e63;
  color: #e91e63;
}

.btn-fuchsia {
  background-color: #e91e63;
  color: white;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
} */


.product-container {
  margin-bottom: 20px;
  padding: 15px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-height: 150px;
  object-fit: cover;
}

.border-fuchsia {
  border-color: #d63384 !important;
}

.text-fuchsia {
  color: #d63384 !important;
}

.btn-fuchsia {
  background-color: #d63384;
  color: white;
  border: none;
}

.btn-fuchsia:hover {
  background-color: #c71e6e;
}

.btn-outline-fuchsia {
  border-color: #d63384;
  color: #d63384;
}

.btn-outline-fuchsia:hover {
  background-color: #d63384;
  color: white;
}

.subtotal-display {
  font-size: 1.2em;
  font-weight: bold;
  color: #cc15c3;
}
