<div class="row">
    <div class="col-md-4">
        <img [src]="lineSellProduct.product?.photo" alt="{{ lineSellProduct.product?.name }}" class="product-image product-image-small">
     
    </div>

    <div class="stock-info d-flex flex-column">
      <h5 class="product-name text-start mb-2">{{ lineSellProduct.product?.name }}</h5>
      <ul class="stock-details list-unstyled pl-0">
        <li><strong>Entrada:</strong> <span>{{ lineSellProduct.product?.price }}</span></li>
        <li><strong>Vendidos:</strong> <span>{{ lineSellProduct.product?.price }}</span></li>
        <li><strong>Stock:</strong> <span>{{ lineSellProduct.product?.price }}</span></li>

    <div class="col-md-6">
        <form class="row label-whrite" (ngSubmit)="sendProduct()">
            <div class="mb-3">
                <label for="priceInput">Precio por unidad:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="priceInput" type="number" [(ngModel)]="lineSellProduct.pricePerUnit" name="price" class="form-control" placeholder="Valor">
                </div>
                <div *ngIf="lineSellProduct.pricePerUnit! < 1" class="validation-message">El valor NO es válido</div>
            </div>

            <div class="mb-3">
                <label for="quantityInput">Cantidad:</label>
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input id="quantityInput" type="number" [(ngModel)]="lineSellProduct.quantity" name="amount" class="form-control" placeholder="Cantidad">
                </div>
                <div *ngIf="lineSellProduct.quantity! <= 0" class="validation-message">La cantidad NO es válida</div>
            </div>

            <div class="btn-group mb-3">
                <button *ngFor="let inc of [1/2, 1/4, 1]" type="button" class="btn btn-outline-primary" (click)="addQuantity(inc)">{{ inc }}</button>
                <button type="button" class="btn btn-outline-danger" (click)="setQuantity(0)">Borrar</button>
            </div>

            <div class="mb-3">
                <strong>Subtotal: </strong>
                <span class="subtotal-display">{{ calculateSubtotal(lineSellProduct) | currency:'USD':'symbol' }}</span>
            </div>

            <button *ngIf="lineSellProduct.quantity! > 0" type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
