
<!-- <hr>

<p> Welcome to my new World </p>



<hr>
<hr>
<hr>
<app-counter></app-counter>


<hr>
<app-heroes-hero></app-heroes-hero>

<hr>
<app-heroes-list></app-heroes-list>

<hr>
<hr>

<app-main-page></app-main-page>

<app-customer-selector   ></app-customer-selector> 

-->



<!-- <app-menu class="container-app"></app-menu>

<div >
 <app-invoice-page></app-invoice-page> 
</div> -->
<!--<app-list-products></app-list-products>> -->

<!-- <app-menu></app-menu>

<div >
    <app-invoice-page></app-invoice-page> 
</div> -->

<!-- 
<app-menu></app-menu>

<div>
    <app-invoice-page></app-invoice-page> 
</div> -->


<app-menu></app-menu>

<div class="container">
    <!-- <app-invoice-page></app-invoice-page>  -->
    <router-outlet></router-outlet>
</div>