<!-- Hello

<div class="report-sale-grid">
    <div *ngFor="let sale of sales" class="sale-card">
      <div class="sale-header">
        <h3>Invoice #{{ sale.number }}</h3>
        <span>{{ sale.saleDateTime | date: 'medium' }}</span>
      </div>
      <div class="sale-body">
        <p><strong>Customer:</strong> {{ sale.customer?.name }}</p>
        <p><strong>Total Amount:</strong> ${{ sale.totalAmount | number: '1.2-2' }}</p>
        <div class="sale-details">
          <h4>Details:</h4>
          <ul>
            <li *ngFor="let detail of sale.listSalesDetails">
              <strong>{{ detail.product?.name }}</strong> - {{ detail.quantity }} x ${{ detail.pricePerUnit | number: '1.2-2' }}
              <span>Total: ${{ detail.totalPrice | number: '1.2-2' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
   -->


   <div class="report-sale-grid">
    <div *ngFor="let sale of sales" class="sale-card">
      <div class="sale-header">
        <h3>Invoice #{{ sale.number }}</h3>
        <span>{{ sale.saleDateTime | date: 'medium' }}</span>
      </div>
      <div class="sale-body">
        <p><strong>Customer:</strong> {{ sale.customer?.name }}</p>
        <p><strong>Total Amount:</strong> ${{ sale.totalAmount | number: '1.2-2' }}</p>
        <div class="sale-details">
          <h4>Details:</h4>
          <ul>
            <li *ngFor="let detail of sale.listInvoiceDetails">
              <strong>{{ detail.product?.name }}</strong> - {{ detail.quantity }} x ${{ detail.pricePerUnit | number: '1.2-2' }}
              <span>Total: ${{ detail.totalPrice | number: '1.2-2' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  