
  <div class="container">
    <div class="customer-info-card">
      <div class="customer-header">
        <img src='{{customer.photo}}' alt="Carulla Logo">
        <h2>Cliente: {{ customer.name }}</h2>
      </div>
      <div class="customer-details">
        <p class="estado">Estado: Debe 2 facturas</p>
        <p class="saldo">Saldo: $700.000</p>
      </div>
      <button class="btn btn-primary" (click)="findCustomer()">Buscar</button>
    </div>
  
    <div class="factura-rect">
      # {{ factNumber }}
    </div>
  </div>
  
  
  