
<div class="row">
  <div class="col-md">

  
  <div class="customer-info-card">
    <div class="customer-header">
      <img src="{{customer.photo}}" alt="Logo Cliente" class="customer-photo">
      <h2 class="customer-name">{{ customer.name }}</h2>
    
   
   
    <div class="customer-details">
      <div class="detail-row">
        <span class="label">Saldo:</span>
        <span class="value">TODO</span>
      </div>
      <div class="detail-row">
        <span class="label">Estado:</span>
        <span class="value">TODO</span>
      </div>
    </div>
  
    <div class="button-container">
      <button class="btn-primary" (click)="findCustomer()">Buscar Cliente</button>
    </div>
  </div>
</div>  
</div>

