







<div class="customer-list">
  <h2>Listado de Clientes</h2>
  <input type="text" class="customer-search" [(ngModel)]="searchTerm" placeholder="Buscar por nombre">

  <ul>
    </ul>
</div>

<div class="customer-grid">
  <h2>Listado de Clientes</h2>




  <div class="customer-card" *ngFor="let customer of customers" (click)="sendCustomer(customer)">
    <img src="{{ customer.photo }}" alt="{{ customer.name }}">
    <h3>{{ customer.name }}</h3>
    <p>Código: {{ customer.code }}</p>
    <p>Dirección: {{ customer.address }}</p>
    holaaaa
  </div>
</div>
